.pseudo-body{
    height: 300vh;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/15549a14589707.5628669c64769.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.arrow{
    text-align: center;
}

.no-carousel{
    display: none;
}

.display-carousel{
    display: block;
    margin-top: 20px;
}

.headline-img{
    text-align: center;
}

.loc{
    width: 100vw;
    object-fit: cover;
    height: 350px;
    border: 1px black solid;
    object-fit: cover;
}

.display-details{
    text-align: center;
    display: block;
    height: 400px;
    width: 92vw;
    color: white;
    border-radius: 15% 15%;
    filter: brightness(1.2);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: #475F6C;
}

.temperature{
    padding-top: 15px;
}

.display-details-none{
    display: none;
}

.input-container{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.search-details{
    border-radius: 15px;
    height: 40px;
    background-color: rgb(0, 146, 243);
    color: white;
    width: 80px;
    margin: auto;
}

.value{
    margin:auto;
    height: 50px;
    border-radius: 90px;
    border: 0.5px black solid;
    background-color: rgb(192, 192, 192);
    text-align: center;
    margin-bottom: 10px;
}

.pop{
    text-align: left;
    margin-top: 10px;
    padding-left: 5px;
}

.city-name{
    text-align: center;
    padding-top: 15px;
}

.windy{
    padding-left: 5px;
}