
.headline{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.home{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-top: 10px;
}