/* Mobile */

.main-header{
    text-align: center;
}

.d-block{
    height: 80vh;
    object-fit: cover;
}

.para-city{
    font-size: x-large;
    margin-top: 15px;
    margin-left: 15px;
}



/* Tablet */

@media screen and (min-width: 450px) {

    .d-block{
        height: 700px;
        width: 500px;
    }
}


/* Desktop */

@media screen and (min-width: 700px) {


    .d-block{
        height: 90vh;
        width: 70vw;
        object-fit: cover;
    }
}


