/* Mobile */

body{
    background-image: url(https://i.pinimg.com/236x/d6/9a/6b/d69a6be8268f1e2a8da35d6e0fc4a7ab--artsy-photos-color-harmony.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    color: white;
}

.headline{
    margin-bottom: 50px;
}

.main-header{
    text-align: center;
}

.d-block{
    height: 80vh;
    object-fit: cover;
}

.para-city{
    font-size: x-large;
    margin-top: 15px;
    margin-left: 15px;
}



/* Tablet */

@media screen and (min-width: 450px) {

    .d-block{
        height: 700px;
        width: 500px;
    }
    
}


/* Desktop */

@media screen and (min-width: 700px) {


    .d-block{
        height: 90vh;
        width: 70vw;
        object-fit: cover;
    }
}


