.main-border{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.brd{
    color: white;
    margin-right: 20px;
}

#brd-rom,
#brd-ny,
#brd-london,
#brd-la{
    position: relative;
}

.brd-pic{
    width: 20vw;
    height: 18vh;
    object-fit: cover;
}

.rom-text,
.ny-text,
.london-text,
.la-text{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}