.search-container{
    margin-top: 150px;
    text-align: center;
}

.temp-input{
    margin:auto;
    height: 50px;
    border-radius: 90px;
    border: 0.5px black solid;
    background-color: rgb(192, 192, 192);
    text-align: center;
    margin-bottom: 10px;
}

.search-btn{
    height: 50px;
    border-radius: 15px;
    margin-left: 5px;
}

.weather-bg{
    height: 600px;
    width: 92vw;
    color: white;
    border-radius: 15% 15%;
    filter: brightness(1.2);
    margin: auto;
    margin-top: 50px;
}

.upper-brd{
    flex-direction: row;
    justify-content: space-evenly;
  /*  display: none; */
}

.bot-brd{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    /* display: none; */
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

.inner-brd-row{
    margin-top: 50px;
    border: 1px solid white;
    width: 22vw;
    height: 130px;
}

.inner-brd-bot{
    border: 1px solid white;
    width: 22vw;
    height: 130px;
}

.city-temp{
    padding-top: 50px;
}

.timestamp{
    font-size: 3.7vw;
    padding-top: 10px;
}

.time-temp{
    font-size: 4.2vw;
}

.temp{
    font-size: 40px;
}

.fa-solid{
    font-size: 4vw;
}


@media screen and (min-width: 450px) {

    .timestamp{
        padding-top: 0;
    }
    
}
